version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_DB: company
      POSTGRES_USER: nihal
      POSTGRES_PASSWORD: nihal
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@gmail.com
      PGADMIN_DEFAULT_PASSWORD: nihal
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: unless-stopped

  app:
    image: monolithic-app
    container_name: monolithic-app
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/company
      SPRING_DATASOURCE_USERNAME: nihal
      SPRING_DATASOURCE_PASSWORD: nihal
    restart: unless-stopped

volumes:
  postgres_data:
